.Contenido_edit{
    -fx-alignment: top-left;
    -fx-text-alignment: center;
    -fx-border-color: transparent;
    -fx-font-size: 11;
    -fx-font-weight: bold;
    -fx-padding: 1.5;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.Contenido_edit .scroll-pane{
    -fx-background-color: transparent;
}
.Contenido_edit .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.Contenido_edit .scroll-pane .content{
    -fx-background-color: transparent;
}